<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.dao.DeptTypeMapper">
    <!--public T selectMessageByCondition(T t);-->
    <!--动态sql判断参数pojo中的属性,根据属性是否为null拼接sql-->
    <select id="selectMessageByCondition" resultType="deptType" parameterType="deptType">
        select * from depttype
        <where>
            <if test="id!=null and id!=''">
                and id=#{id}
            </if>
            <if test="deptTypeName!=null and deptTypeName!=''">
                and deptTypeName=#{deptTypeName}
            </if>
        </where>
    </select>

</mapper>