<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.dao.EmployeeMapper">
    <!--public T selectMessageByCondition(T t);-->
    <!--动态sql判断参数pojo中的属性,根据属性是否为null拼接sql-->
    <select id="selectMessageByCondition" resultType="employee" parameterType="employee">
        select * from employee
        <where>
            <if test="id!=null and id!=''">
                and id=#{id}
            </if>
            <if test="realname!=null and realname!=''">
                and realname=#{realname}
            </if>
            <if test="password!=null and password!=''">
                and password=#{password}
            </if>
            <if test="deptment_id!=null and deptment_id!=''">
                and deptment_id=#{deptment_id}
            </if>
            <if test="regist_level_id!=null and regist_level_id!=''">
                and regist_level_id=#{regist_level_id}
            </if>
            <if test="delmark!=null and delmark!=''">
                and delmark=#{delmark}
            </if>
            <if test="role!=null and role!=''">
                and role=#{role}
            </if>
        </where>
    </select>

</mapper>